<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <% if (!task) {%>
        <form action="/create" method="post">
            <input type="text" name="task" id="task" placeholder="Insira uma tarefa" value="">
            <button type="submit">Adicionar</button></button>
        </form>
        <% } else { %>
        
        <form action="/updateOneTask/<%= task._id %>" method="post">
            <input type="text" name="task" id="task"  value="<%= task.task %>"> 
            <button type="submit">Atalizar</button></button>
        </form>
        <% } %>
    </header>
    <section id="tasks">
        <ul>
        <% tasksList.forEach((task) =>{ %>
        <li>
            <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR') %>
            <a href="/getById/<%= task._id %>/update">Editar</a>
            <a href="/getById/<%= task._id %>/delete">Deletar</a>
        </li>
        <% })  %>
    </ul>
    </section>
    <% if (taskDelete != null) {%>
    <section id="modal">
        <div id="card">
            <a href="/"></a>
            <h2>Confirmção de exclusão</h2>
            <hr>
            <p>Tem certeza que deseja excluir esta tarefa: <strong><%= taskDelete.task %></strong>?</p>
            <a href="/">Não</a>
            <a href="/deleteTask/<%= taskDelete._id %>">Sim</a>
        </div>
    </section>
    % } %>
</body>
    <script src="script.js"></script>
</html>